@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family:Lato, sans-serif;
    font-weight: 300;
    color:red;
}

h1, h2 {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
    text-decoration: underline;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 10px
} 

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text {
    width: 400px;
    height: 100px;

    padding-top:40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7) ;

    bottom:30px;
    right: 350px;

    position: absolute;
}

#cover-text, #cover-text h2 {
    color:whitesmoke;
    font-family: lato;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}